@import './colors.scss';

.progress {
  width: 30%;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  background-color: $dark-green;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  .initials {
    position: relative;
    top: $size*0.2;
    font-size: $size*0.5;
    line-height: $size*0.5;
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }
}

.avatar-circle-sm   { @include avatar(40px); }