@import './colors.scss';

.progress {
  width: 30%;
}

.help {
  font-weight: 400 !important;
}

.card-header-icon {
  padding: 0.5rem;
}

.card .media:not(:last-child) {
  margin-bottom: 0;
}

.card-content {
  padding: 1rem;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  background-color: $dark-green;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  .initials {
    position: relative;
    top: $size*0.18;
    font-size: $size*0.4;
    line-height: $size*0.4;
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }
}

.avatar-circle-sm   { @include avatar(40px); }