$white: #fff;
$lighter-gray: #fafafa;
$light-gray: rgba(10, 10, 10, 0.1);
$gray: rgba(3, 3, 3, 0.349);
$green: #2b817d;
$dark-green: #1a615d;
$light-blue: rgb(78, 182, 214);
$light-red: rgb(214, 78, 78);